html{
  scroll-behavior: smooth;
}
*{ 
  /*font-family:"Hack-ZeroSlash",monospace;*/
  box-sizing: border-box;
}
body{
background-color:rgba(0, 0, 5, 0.883);
font-family:"Lato",sans-serif;
margin: 0;
padding: 0;
width: 100%;
height: 100vh;
color: white;  
display: flex;
position: absolute;
}
a{
  text-decoration: none;  
  color: white;  
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  
}
header{ 
  position: fixed; 
  display: flex;
  background-color: rgb(13, 18, 75);  
  flex-direction: column;
  width: 20%;
  height: 100vh;

}

#foto-perfil{  
  margin:20% auto;
  width: 80%;
  position: relative;
  border-radius: 50%;
}

#navbar{ 
  margin-bottom:0;
  margin: 0 auto;
  text-align: center;
}
li{  
  margin: 1vh;
  font-size: 25px;
}
li a:hover{  
 color: aqua;
}


#welcome-section{  
text-align: center;
position: absolute;
width: 75%;
left: 22%; 
height: 100vh;

}
h1{ 
  margin:40vh 0vh 5vh;
  font-size:60px;
  font-weight: 900;
}
h2{
  font-size:30px;
  font-weight: 500;
}
hr{
  margin: 2vh;
  border-radius:70%;

}
section :nth-child(5){
position: relative;
top: 26vh;
}

#sobre-mi{
background-color: red; 
position: absolute;
width: 75%;
left: 22%; 
height: 100vh;
top: 100%;
}
#sobre-mi p{
  margin:40vh 0vh 5vh;
  font-size:20px;
  font-weight: 500;
}
#projects{
  background-color: blue; 
position: absolute;
width: 75%;
left: 22%; 
height: 100vh;
top: 200%;
}

#skills{
  background-color: green; 
  position: absolute;
  width: 75%;
  left: 22%; 
  height: 100vh;
  top: 300%; 
}
#contact{
  background-color:purple; 
  position: absolute;
  width: 75%;
  left: 22%; 
  height: 100vh;
  top: 400%; 
}















@media screen and (max-width:900px) {
  
}