html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0c1019;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 120vh;
 display: inline-block;
 justify-content: center;

}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder
}

/*NAVBAR*/
header {
  margin: 0;
  padding: 0;
}

#Logo {
  color: white;
  font-size: 30px;
  padding: 10px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

#Logo img {
  width: 40px;
}

#menu-hamburger {
  margin: 0% auto;
  width: 15%;
  display: none;
}

#navbar {  
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
 
}

ul {  
  
  list-style: none;
}

li {
  
  font-size: 20px;
  padding: 10px 10px 10px 20px;
  display: inline-block;
}

li a:hover {
  color: rgb(3, 182, 146);
}

li a {  
  color: #38f9d7;
}

/*SECTION WELCOME & PROFILE*/

#welcome-section {   
  margin-top: 10%;
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

#welcome-part h1 { 
  margin: 0 ;
  padding: 0; 
}

#welcome-part p {
  text-align: start;
  color: white;
  font-size: 22px;
  margin-bottom: 5vh;
}

#welcome-section h1 {
  color: white;
  font-size: 35px;
  font-weight: 600;
  margin: 0; 
  padding: 0; 
}

#welcome-part h2 {
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: 3%;
}

#welcome-part2 {  
  height: 500px;
 text-align: end;
}

#foto-perfil {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}

.float {   
  color: black;
  width: 210px;
  border-radius: 8px;
  background-color: rgb(0, 255, 204); 
  font-weight: 600;
  font-size: 18px; 
}
.float:hover {    
  background-color: rgb(3, 182, 146); 
  cursor: pointer;
}

#link-icon {
  margin-top: 5vh;
  border-radius: 10%;
  height: 8vh;
}

#github-icon {
  margin-bottom: 1vh;
  border-radius: 10%;
  height: 6vh;
}

#email-icon {
  margin-top: 5vh;
  border-radius: 10%;
  height: 8vh;
}

h2 {
  color: white; 
  font-size: 33px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;

}

h2::after {
  content: "|";
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.marcador::after {
  content: "|";
  display: inline-block;
}

a {
  color: black;
}

h3 {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  margin-right: 15vh;
  margin-left: 15vh;
}


/*PROYECTOS*/

/*CARRUCEL PROYECTOS*/
.project-title {
  padding: 0;
  margin: 0;
}

.project-title h2 {
  
}

.project-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0;
}

.project-container::-webkit-scrollbar {
  display: none;
}

.project-card {
  flex: 0 0 auto;
  width: 31%;
  margin-right: 1%;
  margin-left: 1%;

}

.project-image {
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.project-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background-color: pink;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  border-radius: 5px;
}

.project-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background-color: black;
  color: white;
}

.project-info {
  font-size: 15px;
  width: 100%;
  height: 10vh;
}

.project-info button {
  padding: 0;
  font-size: 16px;
  width: 49%;
  height: 2.5vh;
  background-color: #38f9d7;
  border: none;
  font-family: "SF Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Roboto Mono", "Lucida Sans Typewriter", monospace;
  font-weight: 600;

}

.project-info button:hover {
  background-color: black;
  color: #38f9d7;
  box-shadow: 1px 1px 10px 5px #38f9d7;
  cursor: pointer;

}

.project-info button:hover a {
  color: #38f9d7;
}

.project-title {
  color: white;
  font-size: 20PX;
}

.pre-btn,
.nxt-btn {
  background-color: #38f9d7;
  background: none;
  border: none;
  width: 6%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 998;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* FINCARRUCEL PROYECTOS*/

/*HABILIDADES*/
#skills {
  margin: 8vh 30vh 20vh 30vh;
}

h4 {
  margin: 0;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 25px;
}


#container {
  display: flex;
  margin-top: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#div-leng {
  display: flex;
  text-align: center;
  width: 100%;
  height: 25vh;
  color: white;
  font-size: 20px;
}

.box {
  width: 50%;
}

.box img {
  cursor: pointer;
  width: 30%;
}

.box img:hover {
  width: 32%;
}

.card2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#div-frame {
  display: flex;
  text-align: center;
  width: 100%;
  height: 25vh;
  color: white;
  font-size: 20px;
}

.box2 {
  width: 100%;
}

.box2 img {
  cursor: pointer;
  width: 30%;
}

.box2 img:hover {
  width: 35%;
}

/*container2*/

#container2 {
  display: flex;
  margin-top: 5%;
}

.card3 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#div-tools {
  display: flex;
  text-align: center;
  width: 100%;
  height: 25vh;
  color: white;
  font-size: 20px;
}

.box3 {
  width: 100%;
}

.box3 img {
  cursor: pointer;
  width: 55%;
}

.box3 img:hover {
  width: 60%;
}

.card4 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#div-extras {
  display: flex;
  text-align: center;
  width: 100%;
  height: 25vh;
  color: white;
  font-size: 20px;
}

.box4 {
  width: 100%;
}

.box4 img {
  cursor: pointer;
  width: 15%;
}

.box4 img:hover {
  width: 16%;
}

/*HABILIDADES END*/



button a {
  color: black;
}



/*CONTACT*/
.marcador {
  margin: 8vh 10vh 1vh 10vh;
}

#contact {
  margin: 0;
  padding: 0;
}

#contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-box {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.572);
  width: 35%;
  padding: 1% 5% 1% 5%;
  flex-direction: column;
  height: 61vh;
}

form input,
textarea {
  width: 100%;
  margin-bottom: 1%;
  background-color: black;
  color: #38f9d7;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  padding: 5%;
}

#boton:hover {
  box-shadow: 1px 1px 10px 5px #38f9d7;

}



/*CONTACT*/

@media (max-width: 1700px) {
  #foto-perfil {
    width: 60%;
  }

  li {
    font-size: 28px;
  }

  .float {
    width: 20%;
    height: 6vh;
    font-size: 19px;
  }

  .float:hover {
    width: 21%;
    height: 6vh;
  }

  .sobre-text {
    margin: 0% auto;
    width: 100%;
  }

  h3 {
    font-size: 25 px;
  }

  .project-container {
    margin-top: 6%;
  }

  .project-card {
    width: 32%;
  }

  .project-image {
    height: 40vh;
  }

  .project-info button {
    font-size: 25px;
    width: 100%;
    height: 3vh;
  }

  form input,
  textarea {
    font-size: 20px;
  }

  #form-box {
    width: 25%;
    height: 60vh;
  }

  #icon-box img {
    height: 9vh;
  }
}

@media (max-width: 1399.98px) {
  #foto-perfil {
    width: 60%;
  }

  #welcome-part p {
    font-size: 20px;
  }

  li {
    font-size: 25px;
  }

  h3 {
    font-size: 25px;
  }

  .project-container {
    margin-top: 0;
  }

  .project-info button {
    font-size: 20px;
    width: 100%;
    margin: 1px;
    height: 3vh;
  }

  #form-box {
    width: 25%;
    height: 59vh;
  }

  #icon-box img {
    height: 9vh;
  }
}

@media (max-width: 991.98px) {
  #foto-perfil {
    width: 60%;
  }

  #welcome-part p {
    font-size: 18px;
  }

  li {
    font-size: 18px;
  }

  li a:hover {
    font-size: 20px;
  }

  #welcome-section h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  .float {
    width: 30%;
    height: 7vh;
    font-size: 18px;
  }

  .float:hover {
    width: 31%;
    height: 7vh;
    font-size: 18px;
  }

  /*SOBRE MI*/
  h3 {
    font-size: 20px;
  }

  /*CARRUCEL PROYECTOS*/
  .project-container {
    margin-top: 12%;
    height: 50vh;
  }

  .project-card {
    width: 32%;
  }

  .project-image {
    height: 30vh;
  }

  .project-info button {
    font-size: 15px;
    height: 3vh;
  }

  .project-title {
    font-size: 20PX;
  }


  .pre-btn img,
  .nxt-btn img {
    width: 7vh;
  }

  /*CONTACT*/

  #form-box {
    width: 50%;
    height: 60vh;
    font-size: 10px;
  }

  #form-box input {
    width: 100%;
    height: 1vh;
    font-size: 17px;
  }

  #form-box textarea {
    font-size: 18px;
  }

  #icon-box img {
    height: 9vh;
  }

}

@media (max-width:767px) {

  /*NAVBAR & PROFILE*/
  header {
    position: fixed;
    width: 100%;
    height: 6vh;
    transition: 0.2s;
    background-color: #38f9d7;

  }

  #foto-perfil {
    display: none;
  }

  #header-bar {
    display: inline-block;
    z-index: 999;
  }

  #menu-hamburger {
    margin-top: 1vh;
    width: 40px;
    display: block;
    position: relative;
  }

  #navbar {

    display: none;
    z-index: 999;
  }

  ul {
    margin-top: 3vh;
    align-items: center;
    padding: 0;

  }

  li {
    text-align: center;
    font-size: 20px;
    width: 100%;
  }

  li a {
    display: inline-block;
    color: black;
  }

  /*SECTION WELCOME*/
  #welcome-section {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #welcome-part2 {
    display: none;
  }

  #welcome-section h1 {
    margin-top: 15vh;
  }

  h2 {
    text-align: center;
    font-size: 35px;

  }

  h3 {
    text-align: center;
    font-size: 30px;
  }

  .float {
    width: 25%;
    height: 6vh;
  }

  .float:hover {
    width: 25%;
  }

  /*SOBRE MI*/
  #sobre-mi {
    position: absolute;
    text-align: center;
    padding-top: 0vh;
    width: 100%;
    left: 0;
  }

  .sobre-text {
    margin: 0% auto;
    width: 100%;
  }

  .sobre-text h3 {
    font-size: 25px;
  }

  /*PROYECTOS*/
  #projects {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  /*CARRUCEL PROYECTOS*/
  .project-container {
    margin-top: 10%;
  }

  .project-card {
    width: 31%;
    height: 100vh;
  }

  .project-image {
    width: 100%;
    height: 30vh;
  }

  .project-title {
    height: 5vh;
  }

  button a {
    width: 100%;
  }

  button a:hover {
    color: #38f9d7;
  }

  .project-info button {
    font-size: 18px;
    width: 100%;
    margin-bottom: 1vh;
    height: 4vh;

  }

  .project-title {
    color: white;
    font-size: 20PX;
  }

  /*CARRUCEL PROYECTOS*/
  /*HABILIDADES*/
  #skills {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 35vh;
  }

  h4 {
    height: 5vh;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  #div-leng {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;
  }

  .card2 {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  #div-frame {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;

  }

  /*container2*/
  #container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 35vh;
  }

  .card3 {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  #div-tools {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  #div-extras {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;

  }

  /*CONTACT*/
  #contact {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  #contact-box {
    margin-top: 5vh;
  }

  #form-box {
    width: 50%;

  }

  form input,
  textarea {
    width: 100%;
    margin-bottom: 1vh;
    font-size: 15px;
    padding: 5%;
  }

  #icon-box img {
    margin-top: 5vh;
    border-radius: 10%;
    height: 10vh;
  }
}

@media (max-width: 550px) {

  /*NAVBAR & PROFILE*/
  header {
    position: fixed;
    width: 100%;
    height: 7vh;
    transition: 0.2s;
    display: flex;
    align-items: center;
  }

  #foto-perfil {
    display: none;
  }

  #menu-hamburger {
    margin-top: 1vh;
    width: 40px;
    position: relative;
    display: block;
  }

  #navbar {
    position: relative;
    display: none;
  }

  ul {
    margin-top: 3vh;
  }

  li {
    margin: 1vh;
    font-size: 20px;
  }

  /*SECTION WELCOME*/
  #welcome-section {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
  }

  #welcome-section h1 {
    margin: 25vh 0vh 0vh;
    text-align: center;
    font-size: 60px;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 5vh 0vh 5vh 0vh;
    left: 0;
  }

  h3 {
    text-align: center;
    font-size: 20px;
  }

  .float {
    width: 50%;
    height: 6vh;
  }

  .float:hover {
    width: 50%;
  }

  /*SOBRE MI*/
  #sobre-mi {
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  .sobre-text {
    margin: 15% auto;
    width: 100%;
  }

  /*PROYECTOS*/
  #projects {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  /*CARRUCEL PROYECTOS*/
  .project-container {
    margin-top: 20%;
  }

  .project-card {
    width: 100%;
    height: 100vh;
  }

  .project-image {
    width: 100%;
    height: 40vh;
  }

  /*CARRUCEL PROYECTOS*/
  /*HABILIDADES*/
  #skills {
    position: absolute;
    text-align: center;
    padding-top: 2vh;
    width: 100%;
    left: 0;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 43vh;
  }

  h4 {
    height: 5vh;
  }

  .card {
    width: 90%;
  }

  #div-leng {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;
  }

  .card2 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-frame {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;

  }

  /*container2*/
  #container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    height: 35vh;
  }

  .card3 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-tools {
    display: flex;
    text-align: center;
    width: 100%;
    height: 18vh;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-extras {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;

  }

  /*CONTACT*/
  #form-box {
    border-radius: 5px;
    width: 100%;
  }

  form input,
  textarea {
    width: 100%;
    margin-bottom: 1vh;
    font-size: 16px;
    padding: 5%;
  }

  #icon-box img {
    margin-top: 5vh;
    height: 8vh;
  }
}

@media (max-width: 500px) {

  /*NAVBAR & PROFILE*/
  header {
    position: fixed;
    width: 100%;
    height: 7vh;
    transition: 0.2s;
    display: flex;
    align-items: center;
  }

  #foto-perfil {
    display: none;
  }

  #menu-hamburger {
    margin-top: 1vh;
    width: 40px;
    position: relative;
    display: block;
  }

  #navbar {
    position: relative;
    display: none;
  }

  ul {
    margin-top: 3vh;
  }

  li {
    margin: 1vh;
    font-size: 20px;
  }

  /*SECTION WELCOME*/
  #welcome-section {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
  }

  #welcome-section h1 {
    margin: 25vh 0vh 0vh;
    text-align: center;
    font-size: 60px;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 5vh 0vh 5vh 0vh;
    left: 0;
  }

  h3 {
    text-align: center;
    font-size: 20px;
  }

  .float {
    width: 50%;
    height: 6vh;
  }

  .float:hover {
    width: 50%;
  }

  /*SOBRE MI*/
  #sobre-mi {
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  .sobre-text {
    margin: 15% auto;
    width: 100%;
  }

  .sobre-text h3 {
    font-size: 20px;
  }

  /*PROYECTOS*/
  #projects {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  /*CARRUCEL PROYECTOS*/
  .project-container {
    margin-top: 20%;
  }

  .project-card {
    width: 100%;
    height: 100vh;
  }

  .project-image {
    width: 100%;
    height: 40vh;
  }

  /*CARRUCEL PROYECTOS*/
  /*HABILIDADES*/
  #skills {
    position: absolute;
    text-align: center;
    padding-top: 2vh;
    width: 100%;
    left: 0;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    height: 40vh;
  }

  h4 {
    height: 5vh;
  }

  .card {
    width: 90%;
  }

  #div-leng {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;
  }

  .card2 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-frame {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;

  }

  /*container2*/
  #container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    height: 35vh;
  }

  .card3 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-tools {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-extras {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;

  }

  /*CONTACT*/
  #form-box {
    border-radius: 5px;
    width: 100%;
  }

  form input,
  textarea {
    width: 100%;
    margin-bottom: 1vh;
    font-size: 16px;
    padding: 5%;
  }

  #icon-box img {
    margin-top: 5vh;
    height: 8vh;
  }
}

@media (max-width: 430px) {

  /*NAVBAR & PROFILE*/
  header {
    position: fixed;
    width: 100%;
    height: 7vh;
    transition: 0.2s;
    display: flex;
    align-items: center;
  }

  #foto-perfil {
    display: none;
  }

  #menu-hamburger {
    margin-top: 1vh;
    width: 40px;
    position: relative;
    display: block;
  }

  #navbar {
    position: relative;
    display: none;
  }

  ul {
    margin-top: 3vh;
  }

  li {
    margin: 1vh;
    font-size: 20px;
  }

  /*SECTION WELCOME*/
  #welcome-section {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
  }

  #welcome-section h1 {
    margin: 25vh 0vh 0vh;
    text-align: center;
    font-size: 60px;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 5vh 0vh 5vh 0vh;
    left: 0;
  }

  h3 {
    text-align: center;
    font-size: 22px;
  }

  .float {
    width: 50%;
    height: 6vh;
  }

  .float:hover {
    width: 50%;
  }

  /*SOBRE MI*/
  #sobre-mi {
    padding-top: 0vh;
    width: 100%;
    left: 0;
  }

  .sobre-text {
    margin: 0% auto;
    width: 100%;
  }

  .sobre-text h3 {
    font-size: 20px;
  }

  /*PROYECTOS*/
  #projects {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  /*CARRUCEL PROYECTOS*/
  .project-container {
    margin-top: 20%;
  }

  .project-card {
    width: 100%;
    height: 100vh;
  }

  .project-image {
    width: 100%;
    height: 40vh;
  }

  /*FIN CARRUCEL PROYECTOS*/

  /*HABILIDADES*/
  #skills {
    position: absolute;
    text-align: center;
    padding-top: 4vh;
    width: 100%;
    left: 0;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    height: 40vh;
  }

  h4 {
    height: 5vh;
  }

  .card {
    width: 90%;
  }

  #div-leng {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;
  }

  .card2 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-frame {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;

  }

  /*container2*/
  #container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    height: 35vh;
  }

  .card3 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-tools {
    display: flex;
    text-align: center;
    width: 100%;
    height: 20vh;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-extras {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;

  }


  /*CONTACT*/
  #form-box {
    border-radius: 5px;
    width: 100%;
  }

  form input,
  textarea {
    width: 100%;
    margin-bottom: 1vh;
    font-size: 16px;
    padding: 5%;
  }

  #icon-box img {
    margin-top: 5vh;
    height: 8vh;
  }
}

@media (max-width: 330px) {

  /*NAVBAR & PROFILE*/
  header {
    position: fixed;
    width: 100%;
    height: 7vh;
    transition: 0.2s;
    display: flex;
    align-items: center;
  }

  #foto-perfil {
    display: none;
  }

  #menu-hamburger {
    margin-top: 1vh;
    width: 40px;
    position: relative;
    display: block;
  }

  #navbar {
    position: relative;
    display: none;
  }

  ul {
    margin-top: 3vh;
  }

  li {
    margin: 1vh;
    font-size: 20px;
  }

  /*SECTION WELCOME*/
  #welcome-section {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
  }

  #welcome-section h1 {
    margin: 25vh 0vh 0vh;
    text-align: center;
    font-size: 60px;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 5vh 0vh 5vh 0vh;
    left: 0;
  }

  h3 {
    text-align: center;
    font-size: 22px;
  }

  .float {
    width: 50%;
    height: 6vh;
  }

  .float:hover {
    width: 50%;
  }

  /*SOBRE MI*/
  #sobre-mi {
    padding-top: 0vh;
    width: 100%;
    left: 0;
  }

  .sobre-text {
    margin: 0% auto;
    width: 100%;
  }

  .sobre-text h3 {
    font-size: 18px;
  }

  /*PROYECTOS*/
  #projects {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  /*CARRUCEL PROYECTOS*/
  .project-container {
    margin-top: 20%;
  }

  .project-card {
    width: 100%;
    height: 100vh;
  }

  .project-image {
    width: 100%;
    height: 40vh;
  }

  /*FIN CARRUCEL PROYECTOS*/

  /*HABILIDADES*/
  #skills {
    position: absolute;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    left: 0;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    height: 35vh;
  }

  h4 {
    height: 5vh;
  }

  .card {
    width: 90%;
  }

  #div-leng {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;
  }

  .card2 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-frame {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;

  }

  /*container2*/
  #container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    height: 35vh;
  }

  .card3 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-tools {
    display: flex;
    text-align: center;
    width: 100%;
    height: 15vh;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #div-extras {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;

  }


  /*CONTACT*/
  #form-box {
    border-radius: 5px;
    width: 100%;
  }

  form input,
  textarea {
    width: 100%;
    margin-bottom: 1vh;
    font-size: 16px;
    padding: 5%;
  }

  #icon-box img {
    margin-top: 5vh;
    height: 8vh;
  }
}